.inner-intro{
 padding-top: 36px;
padding-bottom: 28px;
&::after{
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(229, 229, 229, 1);
  @media(min-width:@tablet-width){display: none;}
 }
}

.inner-intro__title
{
padding-bottom: 24px;
@media(min-width:@tablet-width){
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 27px;
}
@media(min-width:@desktop-width){
  padding-top: 80px;
  padding-bottom: 33px;
}
}
.inner-intro__description
{
width: 280px;
margin: 0 auto;
@media(min-width:@tablet-width){
  width: 436px;
}

}
