.advantages-description{
background-color: #FFFFFF;
&--blue{
  background-color: #81B3D2;
  color:#FFFFFF;
}
&--grey{
  background-color: #EEEEEE;
}

}


.advantages-description__title
{margin: 0;
  padding-top: 54px;
  padding-bottom: 11px;

}
.advantages-description__number
{display: block;
padding-bottom: 17px;
}
.advantages-description__info
{ margin: 0 auto;
  padding-bottom: 40px;
 width: 250px;
}
