.advantages-description{
background-color: #FFFFFF;
&--blue{
  background-color: #81B3D2;
  color:#FFFFFF;
}
&--grey{
  background-color: #EEEEEE;
}
@media(min-width:@tablet-width){width: 33.333333%;
}
 @media(min-width:@desktop-width){width:33.333333%; }
}

.advantages-description__title
{margin: 0;
  padding-top: 54px;
  padding-bottom: 11px;

}
.advantages-description__number
{display: block;
padding-bottom: 17px;
}
.advantages-description__info
{ margin: 0 auto;
  padding-bottom: 40px;
 width: 250px;
 @media(min-width:@tablet-width){width: 190px;}
 @media(min-width:@desktop-width){width: 300px;}
}
