.card-list-item{
  padding: 25px 20px;
  font-size: 14px;
  line-height: 21px;
  @media(min-width:@tablet-width){
    &:first-child{width: 648px;}
    width: 324px;
    margin: 0;
    padding: 0;
  }
  @media(min-width:@desktop-width){
    &:first-child{width: 1200px;}
    width: 400px;
    margin: 0;
    padding: 0;
  }
 }
.card-list-item__image
{
  padding-bottom: 15px;
}
.card-list-item__title
{
  margin: 0;
  padding: 0;
  text-transform: uppercase;

}
.card-list-item__author
{
  display: block;
  padding-bottom: 11px;
}
