.emotions-feedback{
   resize: none;
  border: none;
  width: 279px;
  height: 150px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
