.feedback-form
{
  width: 100%;

}
.feedback-form__title
{padding-top: 24px;
  padding-bottom: 4px;
  @media(min-width:@tablet-width){
    padding: 0;
  }
}
.feedback-form__fields
{padding-top: 16px;
  width:280px;
  margin: 0 auto;
}
