.field
{
  font-family: "PT Sans bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  padding: 16px;
  width: 280px;
  box-sizing: border-box;
}
