.inner-header{
background-image: url("../img/form/inner-header.jpg");
background-repeat: no-repeat;
background-position: center;
background-color: #81B3D2;
}
.inner-header__header-image
{
  padding-top: 52px;
  padding-bottom: 67px;
 }
