.menu-list-item{
display: flex;
background-color: #81B3D2;
justify-content: center;
@media(min-width:@tablet-width)
{width:153px;
  background-color: #ffffff;
}
@media(min-width:@desktop-width)
{width:240px;
  background-color: #ffffff;
}

}
.menu-list-item__link{
  font-family: "PT Sans bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
    text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;
width: 320px;
padding-top: 17px;
padding-bottom: 12px;
border-top: 1px solid rgba(255, 255, 255, 0.2);
border-bottom: 1px solid rgba(1, 1, 1, 0.2);
@media(min-width:@tablet-width){
  color:#000000;
}
@media(min-width:@desktop-width){
  color:#000000;
}
}
.menu-list-item__menu-close-button{
  color:#FFFFFF;
  background-color: #81B3D2;
  border: none;
  padding:0;
  padding-right: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  @media(min-width:@tablet-width){
    display: none;
}
@media(min-width:@desktop-width){
  display: none;
}
}
