.recommendations-list-item
{text-align: start;
  @media(min-width:@tablet-width){width: 33.3333%;
    text-align: center;
 }
  @media(min-width:@desktop-width){width:33.3333%;  text-align: center;}
}
.recommendations-list-item__title
{padding-top: 33px;
  padding-left: 47px;
  @media(min-width:@tablet-width){width: 177px; margin: 0 auto; padding: 0;}
  @media(min-width:@desktop-width){width: 285px;  margin: 0 auto; padding: 0;}
}
.recommendations-list-item__description
{padding-top: 16px;
   padding-left: 47px;
   @media(min-width:@tablet-width){width: 177px; margin: 0 auto; padding:0; padding-top: 29px;}
   @media(min-width:@desktop-width){width: 285px;  margin: 0 auto; padding:0;  padding-top: 29px;}
}
