.recommendations-list-item
{text-align: start;
}
.recommendations-list-item__title
{padding-top: 33px;
  padding-left: 47px;

}
.recommendations-list-item__description
{padding-top: 16px;
   padding-left: 47px;
}
