.tablet-desktop-views
{
  @media(min-width:@tablet-width){
  display: flex;
  flex-wrap: wrap;
  width: 84.375%;
  justify-content: space-between;
  margin: 0 auto;
}
@media(min-width:@desktop-width){
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
}
.tablet-desktop-views__name-fieldset{
  @media(min-width:@tablet-width){width:calc(295%/6.48);}
  @media(min-width:@desktop-width){width:calc(430%/9.6)}

}
.tablet-desktop-views__contacts-fieldset{
  @media(min-width:@tablet-width){width: 295px;}
  @media(min-width:@desktop-width){width: 430px;}
}
