body {
  font-family: "PT Sans";
  text-align: center;
  margin: 0 auto;
}
.main-header {
  width: 320px;
  background-color: #FFFFFF;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
  }
}
.main-header__logo {
  position: absolute;
  left: 67px;
}
@media (min-width: 768px) {
  .main-header__logo {
    z-index: 5;
    left: 291px;
  }
}
@media (min-width: 1200px) {
  .main-header__logo {
    z-index: 5;
    left: 480px;
  }
}
.main-header__nav {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 277px;
  width: 23px;
  height: 22px;
}
.menu-button-toggle {
  -webkit-appearance: none;
          appearance: none;
  border: none;
  width: 23px;
  height: 22px;
  background-image: url("../img/header/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.menu-wrapper {
  display: none;
  width: 320px;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 768px) {
  .menu-wrapper {
    display: block;
  }
}
.menu-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 768px) {
  .menu-list {
    display: grid;
    grid-template-columns: repeat(5, 153px);
  }
  .menu-list::after {
    content: "";
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
@media (min-width: 1200px) {
  .menu-list {
    display: grid;
    grid-template-columns: repeat(5, 240px);
  }
  .menu-list::after {
    content: "";
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
}
.menu-list-item {
  display: flex;
  background-color: #81B3D2;
  justify-content: center;
}
@media (min-width: 768px) {
  .menu-list-item {
    width: 153px;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .menu-list-item {
    width: 240px;
    background-color: #ffffff;
  }
}
.menu-list-item__link {
  font-family: "PT Sans bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  width: 320px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .menu-list-item__link {
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .menu-list-item__link {
    color: #000000;
  }
}
@media (min-width: 768px) {
  .menu-list-item__menu-close-button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu-list-item__menu-close-button {
    display: none;
  }
}
.intro {
  background-image: url("../img/index-main/intro.jpg");
  background-size: cover;
  background-color: #000000;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro {
    width: 768px;
    height: 518px;
    background-image: url("../img/index-main/intro-tab-desk.jpg");
  }
}
@media (min-width: 1200px) {
  .intro {
    width: 1200px;
    height: 518px;
    background-image: url("../img/index-main/intro-tab-desk.jpg");
  }
}
.intro__welcome {
  padding-top: 90px;
  padding-bottom: 85px;
}
@media (min-width: 768px) {
  .intro__welcome {
    width: 461px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
@media (min-width: 1200px) {
  .intro__welcome {
    width: 459px;
    height: 350px;
    padding-top: 78px;
    padding-bottom: 90px;
  }
}
.titles {
  font-family: "PT Sans bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .titles {
    font-size: 21px;
    line-height: 26px;
  }
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans bold";
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.descriptions {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.promo {
  width: 255px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promo {
    width: 520px;
  }
}
.promo__title {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .promo__title {
    padding-top: 45px;
    padding-bottom: 29px;
  }
}
@media (min-width: 1200px) {
  .promo__title {
    padding-top: 62px;
    padding-bottom: 29px;
  }
}
.promo__description {
  margin: 0;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .promo__description {
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .promo__description {
    padding-bottom: 38px;
  }
}
.advantages-description {
  background-color: #FFFFFF;
}
.advantages-description--blue {
  background-color: #81B3D2;
  color: #FFFFFF;
}
.advantages-description--grey {
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .advantages-description {
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages-description {
    width: 400px;
  }
}
.advantages-description__title {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 11px;
}
.advantages-description__number {
  display: block;
  padding-bottom: 17px;
}
.advantages-description__info {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 250px;
}
@media (min-width: 768px) {
  .advantages-description__info {
    width: 190px;
  }
}
@media (min-width: 1200px) {
  .advantages-description__info {
    width: 300px;
  }
}
.recommendations-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 46px;
  width: 284px;
}
@media (min-width: 768px) {
  .recommendations-list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .recommendations-list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
.recommendations {
  width: 320px;
}
@media (min-width: 768px) {
  .recommendations {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .recommendations {
    width: 1200px;
  }
}
.socials-list {
  list-style-type: none;
  margin: 0px;
}
.button {
  font-family: "PT Sans bold";
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
  width: 284px;
  display: block;
  padding: 16px 49px;
  box-sizing: border-box;
  border: none;
}
.developer {
  width: 129px;
}
.developer__link {
  font-family: "PT Sans";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: left;
  align-items: center;
  display: flex;
}
.hashtag-visit-sedona {
  font-family: "PT Sans bold";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  width: 136px;
}
.recommendations-list-item {
  text-align: start;
}
@media (min-width: 768px) {
  .recommendations-list-item {
    width: 256px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .recommendations-list-item {
    width: 400px;
    text-align: center;
  }
}
.recommendations-list-item__title {
  padding-top: 33px;
  padding-left: 47px;
}
@media (min-width: 768px) {
  .recommendations-list-item__title {
    width: 177px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .recommendations-list-item__title {
    width: 285px;
    margin: 0 auto;
    padding: 0;
  }
}
.recommendations-list-item__description {
  padding-top: 16px;
  padding-left: 47px;
}
@media (min-width: 768px) {
  .recommendations-list-item__description {
    width: 177px;
    margin: 0 auto;
    padding: 0;
    padding-top: 29px;
  }
}
@media (min-width: 1200px) {
  .recommendations-list-item__description {
    width: 285px;
    margin: 0 auto;
    padding: 0;
    padding-top: 29px;
  }
}
.to-book {
  padding-top: 38px;
  padding-bottom: 49px;
}
.to-book__title {
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .to-book__title {
    width: 435px;
    margin: 0 auto;
  }
}
.to-book__description {
  width: 262px;
  margin: 0 auto;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .to-book__description {
    width: 435px;
    margin: 0 auto;
  }
}
.to-book__link {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .to-book__link {
    width: 435px;
    margin: 0 auto;
  }
}
.inner-header {
  background-image: url("../img/form/inner-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .inner-header {
    background-image: url("../img/index-main/intro-tab-desk.jpg");
  }
}
.inner-header__header-image {
  padding-top: 52px;
  padding-bottom: 67px;
}
@media (min-width: 768px) {
  .inner-header__header-image {
    width: 467px;
    height: 77px;
    padding-top: 95px;
    padding-bottom: 117px;
  }
}
@media (min-width: 1200px) {
  .inner-header__header-image {
    width: 467px;
    height: 80px;
    padding-top: 101px;
    padding-bottom: 120px;
  }
}
.inner-intro {
  padding-top: 36px;
  padding-bottom: 28px;
}
.inner-intro__title {
  padding-bottom: 24px;
}
.inner-intro__description {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .inner-intro__description {
    width: 436px;
  }
}
.feedback-form {
  padding-left: 20px;
  padding-right: 20px;
}
.feedback-form__title {
  padding-top: 24px;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  .feedback-form__title {
    padding: 0;
  }
}
.feedback-form__fields {
  padding-top: 16px;
}
.fields {
  display: flex;
  flex-direction: column;
}
.label {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
  padding-left: 16px;
}
.field {
  font-family: "PT Sans bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  padding: 16px;
  width: 280px;
  box-sizing: border-box;
}
.impressions {
  border: none;
  margin: 0;
  padding: 0;
}
.impressions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  width: 280px;
  text-align: start;
}
@media (min-width: 768px) {
  .impressions-list {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .impressions-list {
    width: 960px;
    margin: 0 auto;
  }
}
.impressions-title {
  padding-top: 24px;
  padding-bottom: 20px;
}
.impressions-list-item {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 16px;
  width: 280px;
}
.input-field {
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .input-field {
    text-align: start;
  }
}
.feedback {
  margin: 0 auto;
}
.visited-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  width: 280px;
  text-align: start;
}
@media (min-width: 768px) {
  .visited-list {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .visited-list {
    width: 960px;
    margin: 0 auto;
  }
}
.visited-list-item {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 16px;
  width: 280px;
}
.emotions-feedback {
  resize: none;
  border: none;
  width: 279px;
  height: 150px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .emotions-feedback {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .emotions-feedback {
    width: 768px;
  }
}
.submit {
  width: 280px;
  padding-top: 56px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .submit {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .submit {
    width: 768px;
    margin: 0 auto;
  }
}
.required-fields {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  text-align: end;
}
.footer {
  width: 320px;
  padding-top: 33px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    width: 768px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .footer {
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
.modal-button {
  font-family: "PT Sans bold";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
  display: block;
  box-sizing: border-box;
  border: none;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 63px;
  padding-right: 63px;
}
.modal-button--border {
  border: 20px solid #F2F2F2;
}
.modal-wrong {
  width: 320px;
}
.modal-wrong__title {
  width: 237px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 29px;
}
.modal-wrong__description {
  width: 237px;
  margin: 0 auto;
  padding-bottom: 28px;
}
.modal-wrong__button {
  margin: 0 auto;
  margin-bottom: 35px;
}
.modal-shipped {
  width: 320px;
}
.modal-shipped__title {
  width: 244px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 29px;
}
.modal-shipped__description {
  width: 244px;
  margin: 0 auto;
  padding-bottom: 72px;
}
.modal-shipped__button {
  margin: 0 auto;
}
.gallery {
  width: 320px;
}
.gallery__title {
  padding-top: 37px;
  border-bottom: 29px;
}
.gallery__description {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 38px;
}
.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  text-align: start;
}
@media (min-width: 768px) {
  .card-list {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .card-list {
    width: 1200px;
  }
}
.card-list-item {
  padding: 25px 20px;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .card-list-item {
    width: 324px;
    margin: 0;
    padding: 0;
  }
  .card-list-item:first-child {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .card-list-item {
    width: 400px;
    margin: 0;
    padding: 0;
  }
  .card-list-item:first-child {
    width: 1200px;
  }
}
.card-list-item__image {
  padding-bottom: 15px;
}
.card-list-item__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.card-list-item__author {
  display: block;
  padding-bottom: 11px;
}
.video {
  width: 320px;
}
.video__title {
  padding-top: 17px;
  padding-bottom: 33px;
}
.video__description {
  width: 266px;
  margin: 0 auto;
  padding-bottom: 38px;
}
@media (min-width: 768px) {
  .description-image {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .tablet-desktop-views {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .tablet-desktop-views {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .tablet-desktop-views__name-fieldset {
    width: 295px;
  }
}
@media (min-width: 1200px) {
  .tablet-desktop-views__name-fieldset {
    width: 430px;
  }
}
@media (min-width: 768px) {
  .tablet-desktop-views__contacts-fieldset {
    width: 295px;
  }
}
@media (min-width: 1200px) {
  .tablet-desktop-views__contacts-fieldset {
    width: 430px;
  }
}
/*# sourceMappingURL=style.css.map */
